<!DOCTYPE html>
<html>
	<body>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/change_pw.css' %}"/>

		<div class="header">
			<span id="title">PoLLsApp</span>
		</div>

		<div class="body">
			<form action="{% url 'polls:check_pw' %}" method="POST">
			{% csrf_token %}	
				<div class="fheader">
					<h2>Change password</h2>	
				</div>
				<div class="div1">
				    <div class="div1a">
					    Current password: 
				    </div>
				<input type="password" class="placeholder" name="Old_pw" placeholder="Current password"><br>
			    </div>
			    <div class="div1">
				    <div class="div1a">
					    New password: 
				    </div>
				<input type="password" class="placeholder" name="New_pw" placeholder="New password"><br>
			    </div>
			    <div class="div1">
				    <div class="div1a">
					    New password (again): 
				    </div>
				<input type="password" class="placeholder" name="New_pw1" placeholder="New password"><br>
			    </div>
			   </form>
		</div>
	</body>
</html>