<!DOCTYPE html>
<html>
	<body>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/detail.css' %}">

        {% if user.is_authenticated %}
		<div class="header">
			<span id="title">PoLLsApp</span>
			<span id="username">{{ user.get_username }}</span>
		</div>

		<div class="menu">
			<div class="option">
				<a href="{% url 'polls:index' %}">Index</a>
			</div>
			<div class="option">
				<a href="{% url 'polls:edit' %}">Edit</a>
			</div>
			<div class="option">
				<a href="{% url 'polls:change_pw' %}">Change Password</a>
			</div>
			<div class="option">
				<a href="{% url 'polls:log_out' %}">Log Out</a>
			</div>
		</div>

		<div class="body">
		    {% if error_message %}
		        <p class="error_message"><strong>{{ error_message }}</strong></p>
		    {% endif %}
			{% if message %}
			    <p class="message"><strong>{{ message }}</strong></p>
			{% endif %}
			<h2 id="question">{{ question.question_text }}</h2>
			<form action="{% url 'polls:vote' question.id %}" method="post">
			{% csrf_token %}
			{% for choice in question.choice_set.all %}
			   <div class="choice">
				    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
				    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
			   </div>
			{% endfor %}
			<input type="submit" name="Submit" value="Vote" class="submit"/>
			</form>
		</div>
		{% else %}
		<p class="class1">You are not logged in. Login <a href="/polls/log_in">here</a>.</p>
		{% endif %}
	</body>
</html>