<!DOCTYPE html>
<html>
	<body>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/signup.css' %}">

		<div class="header">
			<span id="title">PoLLsApp</span>
		</div>
		{% if user.is_authenticated %}
		<div class="menu">
			<div class="option">
				<a href="{% url 'polls:index' %}">Index</a>
			</div>
			<div class="option">
				<a href="{% url 'polls:edit' %}">Edit</a>
			</div>
			<div class="option">
				<a href="{% url 'polls:change_pw' %}">Change Password</a>
			</div>
			<div class="option">
				<a href="{% url 'polls:log_out' %}">Log Out</a>
			</div>
		</div>

		<p class="class1">Logged in as {{user.username}}</p>

        {% else %}
		<form action="{% url 'polls:user_auth' %}" method="POST">
		    {% csrf_token %}
			<div class="fheader">
				<h2>Log In</h2>	
			</div>
			{% if error_message %}
		        <p class="error_message"><strong>{{ error_message }}</strong></p>
		    {% endif %}
			{% if message %}
			    <p class="message"><strong>{{ message }}</strong></p>
			{% endif %}
			<div class="div1">
				<div class="div1a">
					Username: 
				</div>
				<input type="text" class="placeholder" name="Username" placeholder="Username"><br>
			</div>
			<div class="div1">
				<div class="div1a">
					Password: 
				</div>
				<input type="password" class="placeholder" name="Password" placeholder="Password"><br>
			</div>	
			<input type="submit" class="button" value="Log In" name="login"></input>
		</form>		
		<div><a href="{% url 'polls:signup' %}">Don't have an account?</a></div>
		{% endif %}
	</body>
</html>