<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/detail.css' %}">
	<body>
	<div class="header">
		<span id="title">PoLLsApp</span>
	</div>
		<form action="{% url 'polls:create_user' %}" method="POST">	
			<div class="fheader">
				<h2>SIGN UP</h2>	
			</div>
			<div class="div1">
				<div class="div1a">
					First name: 
				</div>
				<input type="text" class="placeholder" name="Firstname" placeholder="First name"><br>
			</div>
			<div class="div1">
				<div class="div1a">
					Last name: 
				</div>
				<input type="text" class="placeholder" name="Lastname" placeholder="Last name"><br>
			</div>
			<div class="div1">
				<div class="div1a">
					Username: 
				</div>
				<input type="text" class="placeholder" name="Username" placeholder="Username"><br>
			</div>
			<div class="div1">
				<div class="div1a">
					Password: 
				</div>
				<input type="password" class="placeholder" name="Password" placeholder="Password"><br>
			</div>
			<div class="div1">
				<div class="div1a">
					Password: 
				</div>
				<input type="email" class="placeholder" name="Email" placeholder="Password"><br>
			</div>
			<br>
			
			<div class="c4">
				<button class="button" type="button" value="help" onclick="alert('Fill in your details in the space provided and then click Sign Up')">Help?</button><br/>
				<button class="button" type="submit" value="Sign Up">Sign Up</button>
			</div>
		</form>
		{% csrf_token %}
		<div><a href="{% url 'polls:signup' %}">Don't have an account?</a></div>
	</body>
</html>
