<!DOCTYPE html>
<html>
	<body>
		{% load staticfiles %}

		<link rel="stylesheet" type="text/css" href="{% static 'polls/css/signup.css' %}">

		<div class="header">
			<span id="title">PoLLsApp</span>
		</div>

		{% if is_user %}
		<div class="menu">
			<div class="option">
				<a href="{% url 'polls:index' %}">Index</a>
			</div>
			<div class="option">
				<a href="{% url 'polls:edit' %}">Edit</a>
			</div>
			<div class="option">
				<a href="{% url 'polls:change_pw' %}">Change Password</a>
			</div>
			<div class="option">
				<a href="{% url 'polls:log_out' %}">Log Out</a>
			</div>
		</div>

		<p class="class1">Hi {{user.username}}! You are already a user. Thank you for registering.</p>

		{% else %}

		<form action="{% url 'polls:signup' %}" method="POST">	
			{% csrf_token %}
			<div class="fheader">
				<h2>SIGN UP</h2>
				<h3>You can register here.</h3>
			</div>
			{% if error_message %}
		        <p class="error_message"><strong>{{ error_message }}</strong></p>
		    {% endif %}
			{% if message %}
			    <p class="message"><strong>{{ message }}</strong></p>
			{% endif %}
			{{ form.as_p }}
			{{ form1.as_p }}

			<div class="c4">
				<button class="button" type="button" value="help" onclick="alert('Fill in your details in the space provided and then click Sign Up')">Help?</button><br/>
				<button class="button" type="submit" value="Sign Up">Sign Up</button>
			</div>
		</form>
		<p c><a href="{% url 'polls:login' %}">Already have an account?</a></div>
		{% endif %}
	</body>
</html>
